// body {
//     /* Base64 encoded transparent gif */
//     background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/800px-Image_created_with_a_mobile_phone.png);
//     heigt: 100vh;
//     object-fit: fill;
//     box-sizing: content-box;
//     /* width: 100%; */
// }

.pokemon-modal {
    position: absolute;

    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
    border-radius: 4px;

    // padding: 20px;
    background-color: #FFF;
    // border: 1px solid #000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.1);
    /*     background-color: rebeccapurple; */
}

.Pokecard {
    // min-width: 12rem;
    // min-height: 12rem;
    // width: 100%;
    // margin: 1rem;
    // padding: 10px;
    text-align: center;
    background-color: white;
    // border-radius: 3px;
    /* border: 12px solid white; */
    // box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.5);
    // background-color: antiquewhite;
    height: 100%;
    display: grid;
    place-content: center;
}

.Pokecard-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    background-color: #eceff1;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.Pokecard-image img {
    transition: all ease 500ms;
}

.Pokecard-image img:hover {
    transform: scale(1.25);
    opacity: 0.8;
}

.Pokecard-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}