.form {
    width: 100%
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .9rem;
    margin: 12px 0;

    .pokemon-image {
        height: 80px;
        width: 80px;
    }

    input {
        width: 100%;
    }
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;

    svg {
        color: #6658f6;
        font-size: 16px;
        margin: 4px;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            color: #5d56b7;
            transform: scale(1.2)
        }
    }
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

.table-pokemon-title {
    // background-color: red;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {

        background-color: #d7d9f2;
    }


}